<!-- Salvation Section -->
<section id="salvation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">What Must I Do to Be Saved?</h2>
        <h3 class="section-subheading text-muted">
          An important question that was first asked on the Day of Pentecost.
          <br /> Peter's response remains the same for us today!
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li style="margin-bottom: 0;">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>It Begins With Belief</h4>
                <h4 class="subheading">Mark 16:16</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  In the Bible belief
                  means much more than just knowing God’s
                  ways. It means trusting yourself to His
                  ways, because you have come to know Jesus
                  as God’s Son.
                  <strong>(Mark 16:16; John 8:24; Acts 8:37)</strong>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" style="margin-bottom: 0;">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Belief leads to Repentance</h4>
                <h4 class="subheading">Acts 3:19</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  We have all fallen short of God’s glory
                  (Romans 3:23). Your sins have destroyed your
                  relationship with God. So, you must choose,
                  in mind and will, to turn from those things
                  that displease God, and turn to those things
                  that honor Him. <br />
                  <strong>(Acts 3:19; Isaiah 59:1-2; Acts 17:30)</strong>
                </p>
              </div>
            </div>
          </li>
          <li style="margin-bottom: 0;">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Baptism washes our sins</h4>
                <h4 class="subheading">Acts 2:38-42</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Baptism is not just a symbol, it’s a
                  washing away of your sins as you start your
                  new life with God. 
                  <br/> 
                  <strong>(John 3:5; Acts 2:38; Mark 16:16; 1 Peter 3:21)</strong>
                  <br/> 
                  Jesus taught that baptism was much more than external
                  demonstration of your faith. He taught
                  that in baptism God does a work in a
                  person’s life to forgive their sins and
                  give them His Spirit. 
                  <br/> 
                  <strong>(Matthew 28:19-20; Romans 6:1-6; Colossians 2:12)</strong>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" style="margin-bottom: 0;">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Walk Daily With Him</h4>
                <h4 class="subheading">Revelation 2:10</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  The true joy of being a Christian comes in your daily walk 
                  with Him. Many people begin a relationship with God only to 
                  destroy it by ignoring it, or even turning their back on it. 
                  The call of Christ is to a life of continual growth and service. 
                  You become a vital, active part of God’s people, and impact 
                  the world with the truth of Jesus.
                  <br/>
                  <strong>(2 Peter 1:10-11; Acts 2:42, 46-47; 2 Peter 2:20-22)</strong>                
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Schedule a Study</h4>
                <h4 class="subheading">Let's Study Together</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  We would love an opportunity to open our bibles with you and
                  present you with why we believe these things to be true. Thank
                  you for your desire to follow God's Word and search the 
                  scriptures!
                </p>
                <br/>
                <a href="#contact" class="page-scroll btn btn-xl">Study With Us</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
