<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-service-times text-muted">
          Sunday Bible Class - 9am<br />
          Sunday AM Worship - 10am<br />
          Sunday PM Worship - 5pm<br />
          <br />
          Wednesday Bible Class - 7pm<br />
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
          <i class="fa-solid fa-door-open fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">You Are Welcome Here</h4>
        <p class="text-muted">It is a delight for the Twin Creeks church of
          Christ to welcome new friends to our assembly. Our desire is that
          you will find us to be a loving and caring family of God’s children
          who have Christ in our hearts and displayed in our lives. We hope
          our time together will be an uplifting experience of worship and Bible study.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa-solid fa-church fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Our Assembly</h4>
        <p class="text-muted">
          We conduct our worship according to the pattern we find in the New
          Testament. We sing with our voices unaccompanied, we pray to our Father,
          we proclaim the Lord's death and resurrection through communion, we
          give as the Lord blesses us, and we study God's Word to show ourselves
          approved as workers rightly dividing the truth.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa-solid fa-hands-praying fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Come Join Us!</h4>
        <p class="text-muted">
          We pray that you will find us to be a group of people who honor God
          by following His Word. We do not follow man made traditions nor are
          we a part of any human organization. We have one head, Jesus Christ
          (Colossians 1:18). We believe that all things pertaining to life and
          godliness have been revealed to man in the Word of God (2 Peter 1:3).
          And so we search the Scriptures daily, and we invite you to join us!</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="margin-top: 45px">
        <!-- Google Map-->
        <p>
          <iframe frameborder="0" height="350" width="100%" marginheight="0" marginwidth="0" scrolling="no"
            src="https://maps.google.com/maps?client=safari&amp;oe=UTF-8&amp;q=1414+W.+Exchange+Pkwy.+Allen,+TX+75013&amp;ie=UTF8&amp;hq=&amp;hnear=1414+W+Exchange+Pkwy,+Allen,+Texas+75013&amp;gl=us&amp;t=m&amp;ll=33.12447,-96.702003&amp;spn=0.025159,0.053215&amp;z=14&amp;iwloc=A&amp;output=embed">
          </iframe>
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</section>
